<% include ./header.ejs %>
<h1>Edit</h1>

<form method="POST" action="edit">

  <h2>Title:</h2>
  <input type="text" name = "title" placeholder = "title" value ="<%= title %>"/><br>
  <h2>Author:</h2>
  <input type="text" name = "author" placeholder = "author" value ="<%= author %>"/>
<br>

  <div class="checkbox">
    <label>
      <input type="checkbox" value="test" name = "test">
      Test
    </label>
  </div>


  <h2>Summary</h2>
  <textarea class = "form-control" type="text" name = "summary" placeholder = "summary"><%= summary %></textarea>
  <br>
  <h2>pageCount :</h2>
  <input type="text" name = "pageCount" placeholder = "pageCount" value ="<%= pageCount %>"/>
  <h2>copies :</h2>
  <input type="text" name = "copies" placeholder = "copies" value ="<%= copies %>"/>
  <h2>copiesAvailable :</h2>
  <input type="text" name = "copiesAvailable" placeholder = "copiesAvailable" value ="<%= copiesAvailable %>"/>
  <h2>ratings :</h2>
  <input type="text" name = "ratings" placeholder = "ratings" value ="<%= ratings %>"/>
  <h2>publisher :</h2>
  <input type="text" name = "publisher" placeholder = "publisher" value ="<%= publisher %>"/>
  <h2>coverType :</h2>
  <input type="text" name = "coverType" placeholder = "coverType" value ="<%= coverType %>"/>
  <input type="submit">
</form>
<% include ./footer.ejs %>
