<% include ./header.ejs %>
<center><h1>Edit</h1></center>
  <form method="POST" action="edit">

<div class="jumbotron">
  <div class="container">
      <div class="form-group">
        <lable for="exampleInputTitle">Title:</lable>
        <input name = "title" type="text" class="form-control" placeholder="Title" value ="<%= title %>">
      </div>

      <div class="form-group">
        <lable for="exampleInputAuthor">Author:</lable>
        <input name = "author" type="text" class="form-control" placeholder="Author" value ="<%= author %>">
      </div>

      <div class="form-group">
        <lable for="exampleInputSummary">Summary:</lable>
        <textarea name = "summary" type="text" class="form-control" placeholder="Summary"><%= summary %></textarea>
      </div>


<!--
      <div class="col-lg-8 col-0" data-input="0">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Enter genre" name="genre[]"/>
          <span class="input-group-btn">
            <button id="btnNewSkill" type="button" class="btn btn-default" aria-label="Left Align" onclick="createInput()">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </span>
        </div>
      </div -->

<% for(var i = 0; i < genre.length; i++){ %>
  <p> '<%=genre[i]%>'
<% } %>
  </p>

  <div class="container">
    <div class="row">

      <!-- hnSkills WOULD BE HIDDEN TO PROTECT DATA -->
      <input type="text" name="hnSkills" id="hnSkills" value="" disabled/>
      <div class="dvSkills"></div>
      <select id="ddlGenres" name="genre[]" class="form-control">
      </select>

      <button class="btn btn-default">
        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
      </button>
    </div>
  </div>





      <div class="form-group">
        <lable for="exampleInputPage Count">Page Count:</lable>
        <input name = "pageCount" type="number" class="form-control" placeholder="Page Count" value ="<%= pageCount %>">
      </div>

      <div class="form-group">
        <lable for="exampleInputCopies">Copies:</lable>
        <input name = "copies" type="number" class="form-control" placeholder="Copies" value ="<%= copies %>">
      </div>

      <div class="form-group">
        <lable for="exampleInputCopies Availabe">Copies Availabe:</lable>
        <input name = "copiesAvailable" type="number" class="form-control" placeholder="Copies Availabe" value ="<%= copiesAvailable %>">
      </div>



      <div class="form-group">
        <lable for="exampleInputRatings">Ratings:</lable>

        <div class="container-fluid">
            <div class="pull-left">
                <select class="form-control" value ="<%= ratings %>" name="ratings">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4</option>
                  <option>5</option>
                </select>
            </div>
        </div>
      </div>

      <div class="form-group">
        <lable for="exampleInputSummary">Publisher:</lable>
        <input name="publisher" type="text" class="form-control" placeholder="Publisher" value="publisher">
      </div>

      <div class="form-group">
        <lable for="exampleInputSummary">Cover Type:</lable>
        <input name = "coverType" type="text" class="form-control" placeholder="Cover Type">
      </div>
      <input class="btn btn-default btn-primary" type="submit">

  </form>
</div>
</div>




<% include ./footer.ejs %>
