<% include ./header.ejs %>
<link rel="stylesheet" type="text/css" href="/css/library.css">

  <div class="container">
    <div class="col-sm-4 col-sm-offset-3"
      <div class="nav-navbar">
        <form class="navbar-form navbar-right">
          <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
          <button href = "#" type="submit" class="btn btn-default">Search</button>
        </form>
      </div>
    </div>
  </div>

<div class="row space">

  <!-- <div class="container"> -->
    <% for(var i = 0; i < list.length; i++){ %>
    <div>
      <div class="col-lg-4">
          <div class="row selection block">
            <div class="col-lg-6 preview">
              <a href="/book/details/<%=list[i].id%>" class="thumbnail">
                <img class="img" src="<%=list[i].sImg%>">
                <!-- <img src="/assets/MissingCover.svg"> -->

              </a>
            </div>
            <div class="col-lg-6">
              <a href="/book/details/<%=list[i].id%>">
                <h2 class= "book"><%= list[i].title %></h1>
                <h5><%= list[i].author %></h5>
              </a>
            </div>
          </div>
      </div>
    </div>
    <% } %>


<!-- </div> -->
</div>

  <% include ./footer.ejs %>
