<% include ../header.ejs %>
<script src="/js/checkoutList.js"></script>

<div class="jumbotron">
  <h1>Need to checkout books?</h1>
  <center>
    <a href="checkout/cart">
    <h3>Tap here to add books to your cart!</h3>
    </a>
  </center>
</div>
<br>
<div class="container">
  <% for(var i = 0; i < list.length; i++){ %>
    <input id = "books" type="text" value = "<%=list[i].isbn%>" style='display: none;'/>
    <input id = "bookCount" type="number" value = "<%=list[i].isbn.length%>" style='display: none;'/>
    <% if(user.osis == list[i].osis){ %>
      <%for(var x = 0; x < list[i].isbn.length; x++){%>

        <input id = "isbn<%=x%>" type="text" value = "<%=list[i].isbn[x]%>" style='display: none;'/>


        <div class="row book<%=x%> check2">
          <div class="col-sm-4 col-md-4 col-lg-4">
              <a href="#" class="thumbnail">
                <img class = "image<%=x%>" src="">
              </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div>
                  <h1>Title:</h1>
                     <ul class="title<%=x%>"></ul>
                  <h1>Author:</h1>
                     <ul class="author<%=x%>"></ul>
              </div>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4">
              <div>
                  <h1>Checked out on:</h1>
                     <ul class=""><%=list[i].checkedOut%></ul>
                  <h1>Date Due:</h1>
                     <ul class=""><%=list[i].checkedIn%></ul>
              </div>
            </div>
            <button type="button" class="btn btn-default btn<%=x%>">
               <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
            </button>
          </div>

      <%}%>
    <%}%>
  <%}%>

  <div class="overlay">
    <h1>Returning a book?</h1><br>
     <h4>&nbsp;&nbsp;&nbsp;Scan the barcode on the book to return it!</h4>
       <input id="checkout" type="text" placeholder="barcode scan" onblur="setFocus()"/>

       <form action = "checkout/returnBook" method = "POST">
         <div class="dvSkills"></div>
         <input class="btn btn-default confirm" type="submit" value="Confirm">
       </form>
  </div>


</div>






<% include ../footer.ejs %>
